/target/
*.swp
__pycache__
.idea/

data/player
importer.json

data/input

data/system/at/salzburg
data/system/ca/montreal
data/system/de/berlin
data/system/de/rostock
data/system/fr/charleville_mezieres
data/system/fr/paris
data/system/gb/allerton_bywater
data/system/gb/ashton_park
data/system/gb/aylesbury
data/system/gb/aylesham
data/system/gb/bailrigg
data/system/gb/bath_riverside
data/system/gb/bicester
data/system/gb/castlemead
data/system/gb/chapelford
data/system/gb/clackers_brook
data/system/gb/culm
data/system/gb/dickens_heath
data/system/gb/didcot
data/system/gb/dunton_hills
data/system/gb/ebbsfleet
data/system/gb/great_kneighton
data/system/gb/hampton
data/system/gb/handforth
data/system/gb/kidbrooke_village
data/system/gb/lcid
data/system/gb/leeds
data/system/gb/london
data/system/gb/long_marston
data/system/gb/micklefield
data/system/gb/newcastle_great_park
data/system/gb/poundbury
data/system/gb/priors_hall
data/system/gb/taunton_firepool
data/system/gb/taunton_garden
data/system/gb/tresham
data/system/gb/trumpington_meadows
data/system/gb/tyersal_lane
data/system/gb/upton
data/system/gb/wichelstowe
data/system/gb/wixams
data/system/il/tel_aviv
data/system/pl/krakow
data/system/pl/warsaw
data/system/us/anchorage
data/system/us/bellevue
data/system/us/detroit
data/system/us/nyc
data/system/us/providence
data/system/us/seattle
