/target/
*.swp
__pycache__
.idea/

data/player
importer.json

data/input

data/system/at/salzburg
data/system/au/melbourne
data/system/br/sao_paulo
data/system/ca/montreal
data/system/ca/toronto
data/system/ch/geneva
data/system/ch/zurich
data/system/cl/santiago
data/system/cz/frydek_mistek
data/system/de/berlin
data/system/de/bonn
data/system/de/rostock
data/system/fr/charleville_mezieres
data/system/fr/lyon
data/system/fr/paris
data/system/gb/allerton_bywater
data/system/gb/ashton_park
data/system/gb/aylesbury
data/system/gb/aylesham
data/system/gb/bailrigg
data/system/gb/bath_riverside
data/system/gb/bicester
data/system/gb/bournemouth
data/system/gb/bradford
data/system/gb/brighton
data/system/gb/bristol
data/system/gb/burnley
data/system/gb/cambridge
data/system/gb/castlemead
data/system/gb/chapelford
data/system/gb/chapeltown_cohousing
data/system/gb/chichester
data/system/gb/chorlton
data/system/gb/clackers_brook
data/system/gb/cricklewood
data/system/gb/culm
data/system/gb/derby
data/system/gb/dickens_heath
data/system/gb/didcot
data/system/gb/dunton_hills
data/system/gb/ebbsfleet
data/system/gb/edinburgh
data/system/gb/exeter_red_cow_village
data/system/gb/glenrothes
data/system/gb/great_kneighton
data/system/gb/halsnead
data/system/gb/hampton
data/system/gb/handforth
data/system/gb/inverness
data/system/gb/keighley
data/system/gb/kergilliack
data/system/gb/kidbrooke_village
data/system/gb/lcid
data/system/gb/leeds
data/system/gb/lockleaze
data/system/gb/london
data/system/gb/long_marston
data/system/gb/manchester
data/system/gb/marsh_barton
data/system/gb/micklefield
data/system/gb/newborough_road
data/system/gb/newcastle_great_park
data/system/gb/newcastle_upon_tyne
data/system/gb/northwick_park
data/system/gb/nottingham
data/system/gb/oxford
data/system/gb/poundbury
data/system/gb/priors_hall
data/system/gb/sheffield
data/system/gb/st_albans
data/system/gb/taunton_firepool
data/system/gb/taunton_garden
data/system/gb/tresham
data/system/gb/trumpington_meadows
data/system/gb/tyersal_lane
data/system/gb/upton
data/system/gb/water_lane
data/system/gb/wichelstowe
data/system/gb/wixams
data/system/gb/wokingham
data/system/gb/wynyard
data/system/il/tel_aviv
data/system/in/pune
data/system/ir/tehran
data/system/ly/tripoli
data/system/nz/auckland
data/system/jp/hiroshima
data/system/pl/krakow
data/system/pl/warsaw
data/system/pt/lisbon
data/system/nl/groningen
data/system/sg/jurong
data/system/tw/keelung
data/system/tw/taipei
data/system/us/anchorage
data/system/us/bellevue
data/system/us/beltsville
data/system/us/detroit
data/system/us/lynnwood
data/system/us/milwaukee
data/system/us/mt_vernon
data/system/us/nyc
data/system/us/phoenix
data/system/us/providence
data/system/us/san_francisco
data/system/us/seattle
data/system/us/tucson
