/target/
*.swp
__pycache__
.idea/

data/player
importer.json

data/input

data/system/allerton_bywater
data/system/ashton_park
data/system/aylesbury
data/system/aylesham
data/system/bailrigg
data/system/bath_riverside
data/system/bellevue
data/system/berlin
data/system/bicester
data/system/castlemead
data/system/chapelford
data/system/clackers_brook
data/system/culm
data/system/dickens_heath
data/system/didcot
data/system/detroit
data/system/dunton_hills
data/system/ebbsfleet
data/system/great_kneighton
data/system/hampton
data/system/handforth
data/system/kidbrooke_village
data/system/krakow
data/system/lcid
data/system/leeds
data/system/london
data/system/long_marston
data/system/micklefield
data/system/montreal
data/system/newcastle_great_park
data/system/nyc
data/system/paris
data/system/providence
data/system/salzburg
data/system/seattle
data/system/tel_aviv
data/system/warsaw
