[workspace]

members = [
  "abstutil",
  "convert_osm",
  "ezgui",
  "game",
  "geom",
  "headless",
  "importer",
  "kml",
  "map_editor",
  "map_model",
  "sim",
  "traffic_importer",
  "updater",
]

# See https://doc.rust-lang.org/cargo/reference/profiles.html#overrides. This
# compiles all external dependencies as release mode, yielding great runtime
# speed, but only paying the cost of slow compilation once (since we don't
# update dependencies often).
[profile.dev.package."*"]
opt-level = 3

[patch.crates-io]
winit = { git = "https://github.com/michaelkirk/winit", branch = "mkirk/fix-stdweb-dpi" }
