[workspace]

members = [
  "abstutil",
  "collisions",
  "convert_osm",
  "game",
  "geom",
  "headless",
  "importer",
  "kml",
  "map_editor",
  "map_model",
  "sim",
  "tests",
  "traffic_seitan",
  "updater",
  "widgetry",
  "widgetry_demo",
]

# See https://doc.rust-lang.org/cargo/reference/profiles.html#overrides. This
# compiles all external dependencies as release mode, yielding great runtime
# speed, but only paying the cost of slow compilation once (since we don't
# update dependencies often).
[profile.dev.package."*"]
opt-level = 3
