[workspace]

members = [
  "abstio",
  "abstutil",
  "collisions",
  "convert_osm",
  "fifteen_min",
  "game",
  "geom",
  "headless",
  "importer",
  "kml",
  "map_editor",
  "map_gui",
  "map_model",
  "osm_viewer",
  "parking_mapper",
  "popdat",
  "santa",
  "sim",
  "tests",
  "traffic_seitan",
  "traffic_signal_data",
  "updater",
  "widgetry",
  "widgetry_demo",
]

# See https://doc.rust-lang.org/cargo/reference/profiles.html#overrides. This
# compiles all external dependencies as release mode, yielding great runtime
# speed, but only paying the cost of slow compilation once (since we don't
# update dependencies often).
[profile.dev.package."*"]
opt-level = 3

[patch.crates-io]
# update to geo-types 0.7 - upstream: https://github.com/21re/rust-geo-booleanop/pull/27
geo-booleanop = { git = "https://github.com/michaelkirk/rust-geo-booleanop", branch = "mkirk/geo-types-0.7" }

# Waiting for a new crates.io release, but git uses latest geo versions
polylabel = { git = "https://github.com/urschrei/polylabel-rs" }

# Waiting on release of PR: https://github.com/georust/geo/pull/654
geo = { git = "https://github.com/georust/geo", branch = "mkirk/concave-hull-fix-empty-crash" }
geo-types = { git = "https://github.com/georust/geo", branch = "mkirk/concave-hull-fix-empty-crash" }
