[workspace]

members = [
  "abstio",
  "abstutil",
  "apps/*",
  "cli",
  "collisions",
  "convert_osm",
  "geom",
  "headless",
  "importer",
  "kml",
  "map_gui",
  "map_model",
  "piggyback",
  "popdat",
  "raw_map",
  "sim",
  "synthpop",
  "tests",
  "traffic_seitan",
  "traffic_signal_data",
  "updater",
  "widgetry",
  "widgetry_demo",
]

# See https://doc.rust-lang.org/cargo/reference/profiles.html#overrides. This
# compiles all external dependencies as release mode, yielding great runtime
# speed, but only paying the cost of slow compilation once (since we don't
# update dependencies often).
[profile.dev.package."*"]
opt-level = 3

# There's a circular dependency between this repo (abstreet) and osm2streets,
# due to the 2 core dependency crates listed below. This patch is required to
# avoid Cargo from getting confused.
[patch."https://github.com/a-b-street/abstreet/"]
geom = { path = "geom" }
abstutil = { path = "abstutil" }

[patch.crates-io]
# avoid duplicating geo dependency, until next polylabel release
polylabel = { git = "https://github.com/urschrei/polylabel-rs", rev = "b919b8587b491b9a952a6d4c0670558bfd38e034" }

# To temporarily work on dependencies locally, uncomment this
#[patch."https://github.com/a-b-street/osm2streets"]
#import_streets = { path = "/home/dabreegster/osm2streets/import_streets" }
#street_network = { path = "/home/dabreegster/osm2streets/street_network" }
