[package]
name = "sim"
version = "0.1.0"
authors = ["Dustin Carlino <dabreegster@gmail.com>"]
edition = "2018"

[dependencies]
abstutil = { path = "../abstutil" }
derivative = "1.0.0"
geom = { path = "../geom" }
instant = "0.1.2"
libm = "0.2.1"
map_model = { path = "../map_model" }
rand = "0.7.0"
rand_distr = "0.2.2"
rand_xorshift = "0.2.0"
serde = "1.0.110"
