[package]
name = "widgetry_demo"
version = "0.1.0"
authors = ["Dustin Carlino <dabreegster@gmail.com>"]
edition = "2018"

[lib]
crate-type = ["cdylib", "lib"]

[features]
default = ["widgetry/native-backend"]
wasm = ["getrandom/js", "wasm-bindgen", "widgetry/wasm-backend"]

[dependencies]
abstio = { path = "../abstio" }
abstutil = { path = "../abstutil" }
geom = { path = "../geom" }
getrandom = { version = "0.2.3", optional = true }
log = "0.4.14"
rand = "0.8.3"
rand_xorshift = "0.3.0"
svg_face = "0.1.3"
wasm-bindgen = { version = "0.2.70", optional = true }
widgetry = { path = "../widgetry" }
